Repository ansible/pylibssh: changes, and which pre-commit hooks are due for each by the changed paths.
All: changelogs-rst, changelogs-user-role, enforced-flake8-version

changelogs-rst:
  name: changelog filenames
  language: fail
  entry: 'Changelog files must be named ####.(bugfix|feature|deprecation|breaking|doc|misc)(.#)?(.rst)?'

changelogs-user-role:
  name: Changelog files should use a non-broken :user:`name` role
  language: pygrep
  entry: :user:([^`]+`?|`[^`]+[\s,])
  pass_filenames: true

enforced-flake8-version:
  name: Verify that enforced flake8 version stays unchanged
  description: This is a sanity check and fixer that makes sure that the `flake8` version in this file remains matching the corresponding request in the `# enforce-version` comment.
  ...

Name the flag variables once in the backend test for the style checker
  tests/unit/pep517_backend_test.py
Due: none

Leave the build backend out of the coverage report
  .coveragerc
Due: none

🔧 Add codespell config
  .codespellrc
  .packit.yml
  .pre-commit-config.yaml
  tests/conftest.py
Due: enforced-flake8-version

📝 Add a change note for 9b135663
  docs/changelog-fragments/9b135663.contrib.rst
Due: changelogs-rst, changelogs-user-role

Replace expandvars with the Python standard library
  .github/workflows/ci-cd.yml
  docs/changelog-fragments/888.packaging.rst
  packaging/pep517_backend/_cython_configuration.py
  pyproject.toml
  requirements-build.txt
  tox.ini
Due: changelogs-rst, changelogs-user-role

Withhold sshd replies in the small timeout test
  tests/_service_utils.py
  tests/conftest.py
  tests/unit/channel_test.py
Due: none

📝 Add a change note for PR #893
  docs/changelog-fragments/893.contrib.rst
Due: changelogs-rst, changelogs-user-role

📝 Tell agents to let the operator judge conciseness
  .agents-ctx/HOUSE_RULES.md
  .agents-ctx/PR_HYGIENE.md
Due: none

📝 Make silencing checks the operator's decision
  .agents-ctx/CONTRIB_WORKFLOW_INFRA_TOOLING.md
  .agents-ctx/DONT_SHOOT_THE_MESSENGER.md
  .agents-ctx/HOUSE_RULES.md
  .agents-ctx/PR_HYGIENE.md
  .agents-ctx/TESTING.md
Due: none

🔧 Ask the operator before Claude Code silences checks
  .claude/hooks/guard_silenced_checks.py
  .claude/settings.json
Due: none

📝 Add a change note for 083858a9
  docs/changelog-fragments/083858a9.contrib.rst
Due: changelogs-rst, changelogs-user-role

📝 Add a change note for a55c74ff
  docs/changelog-fragments/a55c74ff.contrib.rst
Due: changelogs-rst, changelogs-user-role

📝 Tell agents the human decides
  .agents-ctx/DONT_GHOST_THE_REVIEWER.md
  .agents-ctx/HOUSE_RULES.md
  .agents-ctx/HUMAN_IN_THE_LOOP.md
Due: none

📝 Tell agents to credit co-authors
  .agents-ctx/PR_HYGIENE.md
Due: none

📝 Add a change note for 5105e647
  docs/changelog-fragments/5105e647.contrib.rst
Due: changelogs-rst, changelogs-user-role

📝 Add a change note for 1227e231
  docs/changelog-fragments/1227e231.contrib.rst
Due: changelogs-rst, changelogs-user-role

📝 Tell agents to never absorb others' patches alone
  .agents-ctx/HUMAN_IN_THE_LOOP.md
  .agents-ctx/PR_HYGIENE.md
Due: none

Let the sshd relay exit when the client disconnects
  tests/_service_utils.py
  tests/conftest.py
Due: none

Measure coverage in multiprocessing children
  .coveragerc
Due: none

📝 Bring over generic agent rules from tox-pre-commit
  .agents-ctx/CONTRIB_WORKFLOW_INFRA_TOOLING.md
  .agents-ctx/PR_HYGIENE.md
Due: none

📝 Add a change note for 9be75f22
  docs/changelog-fragments/9be75f22.contrib.rst
Due: changelogs-rst, changelogs-user-role

Add changelog fragment
  docs/changelog-fragments/641.feature.rst
Due: changelogs-user-role

Implement async SFTP from libssh 0.11
  src/pylibsshext/includes/sftp.pxd
  src/pylibsshext/includes/sftp_compat.h
  src/pylibsshext/sftp.pxd
  src/pylibsshext/sftp.pyx
Due: none

tests: Reproducer for #341
  tests/unit/sftp_test.py
Due: none

🧪 Allow "faits accomplis" in codespell
  .codespellrc
Due: none

🔧 Measure coverage in multiprocessing children
  .coveragerc
Due: none

📝 Add a change note for PR #898
  docs/changelog-fragments/898.contrib.rst
Due: changelogs-rst, changelogs-user-role

🔧 Exclude test doubles from collection
  pytest.ini
Due: none

Ignore proxy.py in the RPM build dependencies
  packaging/rpm/ansible-pylibssh.spec
Due: none

Load test doubles as local pytest plugins
  tests/conftest.py
Due: none

🔧 Add proxy.py as an optional test dependency
  tox.ini
Due: none

📝 Add change notes for PR #894
  docs/changelog-fragments/894.contrib.1.rst
  docs/changelog-fragments/894.contrib.rst
  docs/changelog-fragments/894.packaging.rst
Due: changelogs-rst, changelogs-user-role

Withhold sshd replies in the small timeout test
  tests/unit/channel_test.py
Due: none

Add a stub relaying sshd traffic for MITM in tests
  tests/_stubs/sshd_mitm_tcp_relay/fixtures.py
  tests/_stubs/sshd_mitm_tcp_relay/proxy_py.py
  tests/_stubs/sshd_mitm_tcp_relay/types.py
Due: none

Path conditions:
  changelogs-rst: any of: ^docs/changelog-fragments/, but not: (?x) ^
  docs/changelog-fragments/(
    \.gitignore
    |\d+\.(
      bugfix
      |feature
      |deprecation
      |breaking
      |doc
      |misc
    )(\.\d+)?(\.rst)?
    |README\.rst
    |template\.j2
  )
$
  changelogs-user-role: any of: \.rst$
  enforced-flake8-version: any of: ^\.pre-commit-config\.ya?ml$ and \.(yaml|yml)$
