Repository ansible/pylibssh: changes, and which pre-commit hooks are due for each by the changed paths.
All: changelogs-rst, changelogs-user-role, enforced-flake8-version

Path conditions:
  changelogs-rst: any of: ^docs/changelog-fragments/, but not: (?x) ^
  docs/changelog-fragments/(
    \.gitignore
    |\d+\.(
      bugfix
      |feature
      |deprecation
      |breaking
      |doc
      |misc
    )(\.\d+)?(\.rst)?
    |README\.rst
    |template\.j2
  )
$
  changelogs-user-role: any of: \.rst$
  enforced-flake8-version: any of: ^\.pre-commit-config\.ya?ml$ and \.(yaml|yml)$

📝 Switch PR #533 change note type to contrib
  docs/changelog-fragments/533.contrib.rst
Due: changelogs-rst, changelogs-user-role

📝 Unify writing style of the change note drafts
  docs/changelog-fragments/473.contrib.rst
  docs/changelog-fragments/507.contrib.rst
  docs/changelog-fragments/527.feature.rst
  docs/changelog-fragments/532.feature.rst
  docs/changelog-fragments/533.contrib.rst
Due: changelogs-rst, changelogs-user-role

🧪🐛 Make coverage use upstream Cython plugin
  .coveragerc
  bin/cython_coverage.py
  docs/changelog-fragments/538.contrib.rst
  tox.ini
Due: changelogs-rst, changelogs-user-role

🧪Expand `*.whl` glob when delocating macos libs
  tox.ini
Due: none

🎨 Simplify source mapping @ coverage config
  .coveragerc
Due: none

🎨 Rely more on coverage's own config
  .coveragerc
  pytest.ini
Due: none

📦 Relocate in-tree build backend to packaging/
  .flake8
  packaging/pep517_backend/__init__.py
  packaging/pep517_backend/_backend.py
  packaging/pep517_backend/_transformers.py
  packaging/pep517_backend/hooks.py
  pyproject.toml
  tox.ini
Due: none

🎨 Migrate PEP 517 backend to `tomllib`+`tomli`
  docs/changelog-fragments/501.packaging.rst
  packaging/pep517_backend/_backend.py
  packaging/pep517_backend/_compat.py
  pyproject.toml
Due: changelogs-rst, changelogs-user-role

📦 Demand Cython 3 under Python 3.12+
  docs/changelog-fragments/502.packaging.rst
  pyproject.toml
Due: changelogs-rst, changelogs-user-role

📦🐛 Fix PEP 660 editable install mode
  .flake8
  docs/changelog-fragments/541.contrib.rst
  docs/changelog-fragments/541.packaging.rst
  packaging/pep517_backend/_backend.py
  packaging/pep517_backend/hooks.py
Due: changelogs-rst, changelogs-user-role

📝 Fix the change note number for PR #540
  docs/changelog-fragments/540.packaging.rst
Due: changelogs-rst, changelogs-user-role

Match expandvars version in rpm spec with requirements-build
  packaging/rpm/ansible-pylibssh.spec
Due: none

This _should_ be installable
  packaging/rpm/ansible-pylibssh.spec
Due: none

Don't fail-early on rpm building
  .github/workflows/ci-cd.yml
Due: none

Rotate versions
  .github/workflows/ci-cd.yml
Due: none

📦🐛 Vendor `tomli` into SRPM
  packaging/rpm/ansible-pylibssh.spec
Due: none

📦 Make `expandvars` importable in RPM spec @ F39
  packaging/rpm/ansible-pylibssh.spec
Due: none

🧪📦 Stop testing Fedora 37 @ GHA
  .github/workflows/ci-cd.yml
Due: none

🧪📦 Build Fedora 40 RPMs in GHA
  .github/workflows/ci-cd.yml
Due: none

📦 Stop patching out expandvars from Fedora RPMs
  packaging/rpm/ansible-pylibssh.spec
Due: none

📝 Sync towncrier template w/ aio-libs/multidict
  docs/changelog-fragments/template.j2
  pyproject.toml
Due: none

📝💅 Use tox to build docs on RTD
  .readthedocs.yaml
  tox.ini
Due: none

Revert flake8 to v4.0.1 for WPS
  .pre-commit-config.yaml
Due: enforced-flake8-version

Make provisionoing tox venv @ RTD very verbose
  .readthedocs.yaml
Due: none

Move Sphinx build customization to env vars
  .readthedocs.yaml
  tox.ini
Due: none

Invoke docs runpy commands in isolation
  tox.ini
Due: none

🧪 Turn warnings into errors in docs build envs
  .readthedocs.yaml
  tox.ini
Due: none

Suppress known warnings from underlying tools
  tox.ini
Due: none

Suppress `click-default-group` pkg_resources use
  tox.ini
Due: none

Multiline warnings setup in tox config
  tox.ini
Due: none

Suppress `setup.py` invocation deprecation warn
  tox.ini
Due: none

Revert "Multiline warnings setup in tox config"
  tox.ini
Due: none

📦 Re-lock the build pins
  requirements-build.txt
Due: none

🎨Only use setuptools-scm-git-archive under < py37
  pyproject.toml
Due: none

📝 Add a change note for PR #502
  docs/changelog-fragments/502.packaging.rst
Due: changelogs-rst, changelogs-user-role

🧪 Smoke-test building sdist w/ new/old Python
  .github/workflows/ci-cd.yml
Due: none

add check for channel close
  src/pylibsshext/channel.pyx
  src/pylibsshext/includes/libssh.pxd
Due: none

Update exit status logic
  src/pylibsshext/channel.pyx
Due: none

update init and del methods
  src/pylibsshext/channel.pxd
  src/pylibsshext/channel.pyx
  src/pylibsshext/session.pxd
  src/pylibsshext/session.pyx
Due: none

Update close method to cpdef
  src/pylibsshext/channel.pxd
  src/pylibsshext/channel.pyx
  src/pylibsshext/session.pxd
  src/pylibsshext/session.pyx
Due: none
