Repository ansible/pylibssh: changes, and which pre-commit hooks are due for each by the changed paths.
All: changelogs-rst, changelogs-user-role, enforced-flake8-version

Path conditions:
  changelogs-rst: any of: ^docs/changelog-fragments/, but not: (?x) ^
  docs/changelog-fragments/(
    \.gitignore
    |\d+\.(
      bugfix
      |feature
      |deprecation
      |breaking
      |doc
      |misc
    )(\.\d+)?(\.rst)?
    |README\.rst
    |template\.j2
  )
$
  changelogs-user-role: any of: \.rst$
  enforced-flake8-version: any of: ^\.pre-commit-config\.ya?ml$ and \.(yaml|yml)$

📦 Stop compiling Perl in image builds
  build-scripts/manylinux-container-image/Dockerfile
  build-scripts/manylinux-container-image/install_perl.sh
Due: none

📦 Pre-install system deps @ container image bld
  build-scripts/manylinux-container-image/Dockerfile
Due: none

📦 Stop linking against libdl in manylinux
  build-scripts/manylinux-container-image/install_libssh.sh
Due: none

📦 Unprefix openssl archive
  build-scripts/manylinux-container-image/install_openssl.sh
Due: none

Additional Changelog Fragment Improvements
  docs/changelog-fragments/785.bugfix.rst
  docs/changelog-fragments/786.bugfix.rst
Due: changelogs-user-role

Remove EOF Check
  docs/changelog-fragments/786.bugfix.rst
  src/pylibsshext/scp.pyx
Due: changelogs-user-role

Copy-edited the PR #786 change note
  docs/changelog-fragments/786.bugfix.rst
Due: changelogs-user-role

📦 Run newer Fedoras on Packit
  .packit.yml
Due: none

🧪 Mark UBI jobs in CI as expected to fail
  .github/workflows/ci-cd.yml
Due: none

📦 Convert core packaging meta to use PEP 621
  .github/workflows/ci-cd.yml
  packaging/rpm/ansible-pylibssh.spec
  pyproject.toml
  setup.cfg
Due: none

fix build and test
  src/pylibsshext/session.pyx
Due: none

Update docs/_samples/ssh_config_connect.py
  docs/_samples/ssh_config_connect.py
Due: none

Update etc paths and doc fixes
  docs/_samples/ssh_config_connect.py
  docs/changelog-fragments/790.feature.rst
  docs/user_guide.rst
Due: changelogs-user-role

add annotations for 2.9
  tests/unit/session_test.py
Due: none

simple pytest tempfile
  tests/unit/session_test.py
Due: none

Getting rid of bytes
  docs/_samples/ssh_config_connect.py
  src/pylibsshext/session.pyx
  tests/unit/session_test.py
Due: none

check spec option fix
  packaging/rpm/ansible-pylibssh.spec
Due: none

Link PR #479 to PR #790 change note and review comments
  docs/_samples/ssh_config_connect.py
  docs/changelog-fragments/479.feature.rst
  docs/changelog-fragments/790.feature.rst
  docs/user_guide.rst
  src/pylibsshext/errors.pyx
  src/pylibsshext/session.pyx
  tests/unit/session_test.py
Due: changelogs-user-role

undo formatting
  src/pylibsshext/session.pyx
Due: none

its cython not python
  src/pylibsshext/session.pyx
Due: none

make lint happppppy
  src/pylibsshext/session.pyx
  tests/unit/session_test.py
Due: none

review 2
  docs/_samples/ssh_config_connect.py
  docs/changelog-fragments/790.bugfix.rst
  docs/changelog-fragments/790.feature.rst
  docs/user_guide.rst
  src/pylibsshext/session.pyx
Due: changelogs-user-role

review 4
  docs/_samples/ssh_config_connect.py
  docs/changelog-fragments/790.feature.rst
  docs/user_guide.rst
  src/pylibsshext/errors.pxd
  src/pylibsshext/errors.pyx
  src/pylibsshext/session.pyx
  tests/unit/session_test.py
Due: changelogs-user-role

Add SSH config file parsing support
  docs/changelog-fragments/790.bugfix.rst
  src/pylibsshext/includes/libssh.pxd
  src/pylibsshext/session.pyx
Due: changelogs-user-role

Fix TOCTOU race, fsencode paths, silent kwarg swallowing, and duplicate changelog fragment
  docs/changelog-fragments/479.feature.rst
  src/pylibsshext/session.pyx
  tests/unit/session_test.py
Due: changelogs-user-role

Drop unrelated spec changes; add TypeError coverage test for parse_config
  packaging/rpm/ansible-pylibssh.spec
  tests/unit/session_test.py
Due: none

Fix WPS432: replace magic number 42 with object() in type-error test
  tests/unit/session_test.py
Due: none

📦 Try using a limited ABI/API
  pyproject.toml
  src/pylibsshext/_libssh_version.pyx
  src/pylibsshext/channel.pyx
  src/pylibsshext/errors.pyx
  src/pylibsshext/scp.pyx
  src/pylibsshext/session.pyx
  src/pylibsshext/sftp.pyx
Due: none

debug! cythonize too
  pyproject.toml
Due: none

🧪 Add pre-built openssl+libssh GHA artifact wf
  .github/workflows/build-macos-libssh-artifact.yml
Due: none

sftp: Restrict remote path arguments of get()/put() to str
  docs/changelog-fragments/885.breaking.rst
  src/pylibsshext/sftp.pyx
  tests/unit/sftp_test.py
Due: changelogs-user-role

tests: Verify get/put accepts both str and Path for local file
  tests/unit/sftp_test.py
Due: none

sftp: Handle remote file opening in context manager
  docs/changelog-fragments/879.bugfix.rst
  src/pylibsshext/sftp.pxd
  src/pylibsshext/sftp.pyx
  tests/unit/sftp_test.py
Due: changelogs-user-role

Replace expandvars with the Python standard library
  .github/workflows/ci-cd.yml
  docs/changelog-fragments/888.packaging.rst
  packaging/pep517_backend/_cython_configuration.py
  pyproject.toml
  requirements-build.txt
  tox.ini
Due: changelogs-rst, changelogs-user-role

Define CYTHON_USE_SYS_MONITORING=0 in traced builds
  docs/changelog-fragments/781.contrib.rst
  packaging/pep517_backend/_cython_configuration.py
Due: changelogs-rst, changelogs-user-role

Pass the line tracing macro through CPPFLAGS
  docs/changelog-fragments/890.contrib.rst
  packaging/pep517_backend/_cython_configuration.py
  pyproject.toml
  pytest.ini
  tests/unit/pep517_backend_test.py
  tox.ini
Due: changelogs-rst, changelogs-user-role

Install the build backend's dependencies for the wheel test run
  pyproject.toml
Due: none

Make the backend tests run under the RPM and wheel test setups
  pytest.ini
  tests/conftest.py
  tests/unit/pep517_backend_test.py
  tox.ini
Due: none

Pass the libssh include path through CPPFLAGS in the wheel builds
  docs/changelog-fragments/890.contrib.rst
  docs/changelog-fragments/890.packaging.rst
  pyproject.toml
Due: changelogs-rst, changelogs-user-role

Finish the news fragment sentence and clear ambient flags in the test
  docs/changelog-fragments/890.packaging.rst
  tests/unit/pep517_backend_test.py
Due: changelogs-rst, changelogs-user-role
