Repository ansible/pylibssh: changes, and which pre-commit hooks are due for each by the changed paths.
All: changelogs-rst, changelogs-user-role, enforced-flake8-version

changelogs-rst:
  name: changelog filenames
  language: fail
  entry: 'Changelog files must be named ####.(bugfix|feature|deprecation|breaking|doc|misc)(.#)?(.rst)?'

changelogs-user-role:
  name: Changelog files should use a non-broken :user:`name` role
  language: pygrep
  entry: :user:([^`]+`?|`[^`]+[\s,])
  pass_filenames: true

enforced-flake8-version:
  name: Verify that enforced flake8 version stays unchanged
  description: This is a sanity check and fixer that makes sure that the `flake8` version in this file remains matching the corresponding request in the `# enforce-version` comment.
  ...

I think this should fix packit?
  .packit.yml
  docs/changelog-fragments/507.misc.rst
Due: changelogs-user-role

Fix Fedora 38+?
  packaging/rpm/ansible-pylibssh.spec
Due: none

Drop -vv from tox as that conflicts with the implicit(!) -q
  packaging/rpm/ansible-pylibssh.spec
Due: none

Drop installpkg
  packaging/rpm/ansible-pylibssh.spec
Due: none

I think this should fix packit? (#507)
  .packit.yml
  docs/changelog-fragments/507.misc.rst
  packaging/rpm/ansible-pylibssh.spec
Due: changelogs-user-role

Fix flake8 extend-ignore
  .flake8
Due: none

Bump RtD version to match docs/requirements.txt
  .readthedocs.yaml
  docs/changelog-fragments/508.misc.rst
Due: changelogs-user-role

Bump RtD version to match dependabot
  .readthedocs.yaml
Due: none

Revert flake8 to v4.0.1
  .pre-commit-config.yaml
Due: enforced-flake8-version

Update pyyaml for docs
  docs/requirements.txt
Due: none

Change interval to weekly
  .github/dependabot.yml
Due: none

Revert to python 3.9
  docs/requirements.txt
Due: none

Hopefully fixes packit?
  packaging/rpm/ansible-pylibssh.spec
Due: none

system_packages has been removed
  .readthedocs.yaml
Due: none

type == -> isinstance
  tests/unit/version_test.py
Due: none

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: enforced-flake8-version

Add manylinux_2_28 support
  .github/workflows/build-manylinux-container-images.yml
Due: none

Add changelog
  docs/changelog-fragments/533.misc.rst
Due: changelogs-user-role

Update fedora/ubi images
  .github/workflows/ci-cd.yml
Due: none

Drop update-packages.sh from Dockerfile
  build-scripts/manylinux-container-image/Dockerfile
  build-scripts/manylinux-container-image/update-packages.sh
Due: none

Bump setuptools, pinning max versions for 3.6 and 3.7
  requirements-build.txt
Due: none

Add manylinux_2_28 support (#533)
  .github/workflows/build-manylinux-container-images.yml
  .github/workflows/ci-cd.yml
  build-scripts/manylinux-container-image/Dockerfile
  build-scripts/manylinux-container-image/update-packages.sh
  docs/changelog-fragments/533.misc.rst
  requirements-build.txt
Due: changelogs-user-role

Add Python 3.12 support
  .github/workflows/ci-cd.yml
  docs/changelog-fragments/532.misc.rst
  setup.cfg
Due: changelogs-user-role

Add manylinux_2_28 tag, prevent cp312-cp312 from running on older versions
  .github/workflows/ci-cd.yml
  tox.ini
Due: none

Bump cython for python 3.12
  requirements-build.txt
Due: none

Start building Python 3.12 wheels (#532)
  .github/workflows/ci-cd.yml
  docs/changelog-fragments/532.misc.rst
  requirements-build.txt
  setup.cfg
  tox.ini
Due: changelogs-user-role

Add changelog fragment
  docs/changelog-fragments/527.feature.rst
Due: changelogs-user-role

Support changing SSH_OPTIONS_PUBLICKEY_ACCEPTED_TYPES
  src/pylibsshext/session.pyx
Due: none

Add hostkeys key
  src/pylibsshext/session.pyx
Due: none

Use the correct name
  src/pylibsshext/session.pyx
Due: none

Update fragment to mention both options
  docs/changelog-fragments/527.feature.rst
Due: changelogs-user-role

Support changing SSH_OPTIONS_PUBLICKEY_ACCEPTED_TYPES (#527)
  docs/changelog-fragments/527.feature.rst
  src/pylibsshext/session.pyx
Due: changelogs-user-role

This should be called out as a feature
  docs/changelog-fragments/532.feature.rst
Due: changelogs-user-role

This should be called out as a feature (#535)
  docs/changelog-fragments/532.feature.rst
Due: changelogs-user-role

🎨 Make indents in `pyproject.toml` 2-space
  pyproject.toml
Due: none

Adopt existing Towncrier section names from yarl
  pyproject.toml
Due: none

📝 Add `contrib` & `packaging` change note types
  .pre-commit-config.yaml
  docs/changelog-fragments/.gitignore
  docs/changelog-fragments/539.contrib.rst
  docs/changelog-fragments/README.rst
  pyproject.toml
Due: changelogs-rst, changelogs-user-role, enforced-flake8-version

📝 Change the #473 change fragment to contrib
  docs/changelog-fragments/473.contrib.rst
Due: changelogs-rst, changelogs-user-role

📝 Melt #461 change note into #473
  docs/changelog-fragments/461.contrib.rst
  docs/changelog-fragments/461.misc.rst
Due: changelogs-rst, changelogs-user-role

📝 Change PR #507 note to contrib type
  docs/changelog-fragments/507.contrib.rst
Due: changelogs-rst, changelogs-user-role

Path conditions:
  changelogs-rst: any of: ^docs/changelog-fragments/, but not: (?x) ^
  docs/changelog-fragments/(
    \.gitignore
    |\d+\.(
      bugfix
      |feature
      |deprecation
      |breaking
      |doc
      |misc
    )(\.\d+)?(\.rst)?
    |README\.rst
    |template\.j2
  )
$
  changelogs-user-role: any of: \.rst$
  enforced-flake8-version: any of: ^\.pre-commit-config\.ya?ml$ and \.(yaml|yml)$
