Repository ansible/pylibssh: changes, and which pre-commit hooks are due for each by the changed paths.
All: changelogs-rst, changelogs-user-role, enforced-flake8-version

changelogs-rst:
  name: changelog filenames
  language: fail
  entry: 'Changelog files must be named ####.(bugfix|feature|deprecation|breaking|doc|misc)(.#)?(.rst)?'

changelogs-user-role:
  name: Changelog files should use a non-broken :user:`name` role
  language: pygrep
  entry: :user:([^`]+`?|`[^`]+[\s,])
  pass_filenames: true

enforced-flake8-version:
  name: Verify that enforced flake8 version stays unchanged
  description: This is a sanity check and fixer that makes sure that the `flake8` version in this file remains matching the corresponding request in the `# enforce-version` comment.
  ...

🧪 Sync tag drop + Git setup @ GHA on sdist build
  .github/workflows/ci-cd.yml
Due: none

📝 Add a change note for f07296f
  docs/changelog-fragments/f07296f.contrib.rst
Due: changelogs-rst, changelogs-user-role

🧪 Mark reusable workflows with 
  .github/workflows/reusable-build-wheel.yml
  .github/workflows/reusable-cibuildwheel.yml
  .github/workflows/reusable-linters.yml
  .github/workflows/reusable-tests.yml
Due: none

🧪 Fix the ♲ mark in the reusable GHA workflows
  .github/workflows/reusable-cibuildwheel.yml
  .github/workflows/reusable-linters.yml
  .github/workflows/reusable-tests.yml
Due: none

🧪 Fix ♲ in the name of reusable-build-wheel.yml
  .github/workflows/reusable-build-wheel.yml
Due: none

Allow processing of a specific configuration file for the connection
  src/pylibsshext/includes/libssh.pxd
  src/pylibsshext/session.pyx
Due: none

Provide changelog-fragment
  docs/changelog-fragments/479.feature.rst
Due: changelogs-user-role

Fix unintended indentation
  docs/changelog-fragments/479.feature.rst
Due: changelogs-user-role

Make the change note style more clear
  docs/changelog-fragments/479.feature.rst
Due: changelogs-user-role

🧪 Invert the "tag exists" check in post-release
  .github/workflows/ci-cd.yml
Due: none

🧪 Push the release branch in GHA post-publish
  .github/workflows/ci-cd.yml
Due: none

🧪 Tag commit w/ changelog @ GHA release flow
  .github/workflows/ci-cd.yml
Due: none

🔏🧪 Sign the released dists with Sigstore
  .github/workflows/ci-cd.yml
Due: none

🧪 Make GH Release from pre-made tag
  .github/workflows/ci-cd.yml
Due: none

🧪📝 Render changelog in GH Release
  .github/workflows/ci-cd.yml
Due: none

🧪🚑 Split echo-cmd @ GHA to fit lint rule
  .github/workflows/ci-cd.yml
Due: none

💅🧪 Set a custom run name @ CI/CD workflow
  .github/workflows/ci-cd.yml
Due: none

📝 Add a change note for 986988
  docs/changelog-fragments/986988a.packaging.rst
Due: changelogs-rst, changelogs-user-role

Generate a changelog entry for v1.2.0rc0
  docs/changelog-fragments/333.contrib.rst
  docs/changelog-fragments/333.packaging.rst
  docs/changelog-fragments/461.contrib.rst
  docs/changelog-fragments/473.contrib.rst
  docs/changelog-fragments/474.contrib.rst
  docs/changelog-fragments/474.doc.rst
  docs/changelog-fragments/499.doc.rst
  docs/changelog-fragments/501.packaging.rst
  docs/changelog-fragments/502.packaging.rst
  docs/changelog-fragments/507.contrib.rst
  docs/changelog-fragments/527.feature.rst
  docs/changelog-fragments/532.packaging.rst
  docs/changelog-fragments/533.contrib.rst
  docs/changelog-fragments/538.contrib.rst
  docs/changelog-fragments/539.contrib.rst
  docs/changelog-fragments/540.packaging.rst
  docs/changelog-fragments/541.contrib.rst
  docs/changelog-fragments/541.packaging.rst
  docs/changelog-fragments/559.contrib.rst
  docs/changelog-fragments/560.contrib.rst
  docs/changelog-fragments/565.contrib.rst
  docs/changelog-fragments/852d259.contrib.rst
  docs/changelog-fragments/f07296f.contrib.rst
  docs/changelog.rst
Due: changelogs-rst, changelogs-user-role

🧪 Render actual version @ GHA changelog preview
  .github/workflows/ci-cd.yml
Due: none

📝 Simplify changelog on the GitHub Release page
  .github/workflows/ci-cd.yml
Due: none

Generate a changelog entry for v1.2.0rc1
  docs/changelog-fragments/333.contrib.rst
  docs/changelog-fragments/333.packaging.rst
  docs/changelog-fragments/461.contrib.rst
  docs/changelog-fragments/473.contrib.rst
  docs/changelog-fragments/474.contrib.rst
  docs/changelog-fragments/474.doc.rst
  docs/changelog-fragments/499.doc.rst
  docs/changelog-fragments/501.packaging.rst
  docs/changelog-fragments/502.packaging.rst
  docs/changelog-fragments/507.contrib.rst
  docs/changelog-fragments/527.feature.rst
  docs/changelog-fragments/532.packaging.rst
  docs/changelog-fragments/533.contrib.rst
  docs/changelog-fragments/538.contrib.rst
  docs/changelog-fragments/539.contrib.rst
  docs/changelog-fragments/540.packaging.rst
  docs/changelog-fragments/541.contrib.rst
  docs/changelog-fragments/541.packaging.rst
  docs/changelog-fragments/559.contrib.rst
  docs/changelog-fragments/560.contrib.rst
  docs/changelog-fragments/565.contrib.rst
  docs/changelog-fragments/852d259.contrib.rst
  docs/changelog-fragments/986988a.packaging.rst
  docs/changelog-fragments/f07296f.contrib.rst
  docs/changelog.rst
Due: changelogs-rst, changelogs-user-role

📦 Move cython conf helper to util mod
  packaging/pep517_backend/_backend.py
  packaging/pep517_backend/_cython_configuration.py
Due: none

🎨 Move Cython env vars patching to util mod
  packaging/pep517_backend/_backend.py
  packaging/pep517_backend/_cython_configuration.py
Due: none

🎨 Factor the cythonize arg maker into util mod
  packaging/pep517_backend/_backend.py
  packaging/pep517_backend/_cython_configuration.py
Due: none

🎨 Switch `contextmanager` to `import .. from`
  packaging/pep517_backend/_backend.py
Due: none

📦 Only depend on Cython for building wheels
  packaging/pep517_backend/_backend.py
  packaging/pep517_backend/hooks.py
  pyproject.toml
Due: none

📦🎨 Convert Cython helper to context manager
  packaging/pep517_backend/_backend.py
Due: none

📦 Add a build backend config setting for tracing
  .flake8
  .github/workflows/ci-cd.yml
  .github/workflows/reusable-build-wheel.yml
  .github/workflows/reusable-cibuildwheel.yml
  .github/workflows/reusable-tests.yml
  packaging/pep517_backend/_backend.py
  pyproject.toml
  tox.ini
Due: none

📦 Default to Cython tracing in editable mode
  packaging/pep517_backend/_backend.py
Due: none

📦🎨 Privatize distutils imports @ build backend
  packaging/pep517_backend/_backend.py
Due: none

📦 Build the wheels out-of-tree
  packaging/pep517_backend/_backend.py
  packaging/pep517_backend/_compat.py
Due: none

📦 Post-process custom RST in long description
  .flake8
  packaging/pep517_backend/_backend.py
  packaging/pep517_backend/_transformers.py
  packaging/pep517_backend/hooks.py
  setup.cfg
Due: none

📦Always declare `get_requires_for_build_editable`
  packaging/pep517_backend/_backend.py
Due: none

🎨 Drop the `convert_to_kwargs_only` helper func
  packaging/pep517_backend/_backend.py
  packaging/pep517_backend/_transformers.py
Due: none

💅 Make `setup.cfg` indents two-space
  setup.cfg
Due: none

🎨🧪 Drop local ignores of WPS326
  packaging/pep517_backend/_backend.py
  tests/_service_utils.py
  tests/unit/channel_test.py
Due: none

📝 Add a packaging README file
  packaging/README.md
Due: none

💅 Expose packaging helpers CLI @ build backend
  packaging/pep517_backend/__main__.py
  packaging/pep517_backend/cli.py
  tox.ini
Due: none

📝 Move main changelog to the repo root
  docs/changelog.rst
  pyproject.toml
  setup.cfg
Due: changelogs-user-role

Path conditions:
  changelogs-rst: any of: ^docs/changelog-fragments/, but not: (?x) ^
  docs/changelog-fragments/(
    \.gitignore
    |\d+\.(
      bugfix
      |feature
      |deprecation
      |breaking
      |doc
      |misc
    )(\.\d+)?(\.rst)?
    |README\.rst
    |template\.j2
  )
$
  changelogs-user-role: any of: \.rst$
  enforced-flake8-version: any of: ^\.pre-commit-config\.ya?ml$ and \.(yaml|yml)$
