Repository ansible/pylibssh: changes, and which pre-commit hooks are due for each by the changed paths.
All: changelogs-rst, changelogs-user-role, enforced-flake8-version

Path conditions:
  changelogs-rst: any of: ^docs/changelog-fragments/, but not: (?x) ^
  docs/changelog-fragments/(
    \.gitignore
    |\d+\.(
      bugfix
      |feature
      |deprecation
      |breaking
      |doc
      |misc
    )(\.\d+)?(\.rst)?
    |README\.rst
    |template\.j2
  )
$
  changelogs-user-role: any of: \.rst$
  enforced-flake8-version: any of: ^\.pre-commit-config\.ya?ml$ and \.(yaml|yml)$

add exit status method
  src/pylibsshext/channel.pyx
Due: none

📝 Document setting the compiler flags on install
  docs/changelog-fragments/499.doc.rst
  docs/installation_guide.rst
Due: changelogs-user-role

Spell "Connect" @ `Session.connect()` docstring
  src/pylibsshext/session.pyx
Due: none

Add a change note for PR #474
  docs/changelog-fragments/474.contrib.rst
  docs/changelog-fragments/474.doc.rst
Due: changelogs-rst, changelogs-user-role

💅 Multi-line file type YAML list @ pre-commit
  .pre-commit-config.yaml
Due: enforced-flake8-version

🧪 Allow hash-bound change notes @ pre-commit
  .pre-commit-config.yaml
Due: enforced-flake8-version

📝 Add trailing periods to changelog entries
  docs/changelog-fragments/473.contrib.rst
  docs/changelog-fragments/501.packaging.rst
  docs/changelog-fragments/507.contrib.rst
  docs/changelog-fragments/527.feature.rst
  docs/changelog-fragments/532.feature.rst
  docs/changelog-fragments/533.contrib.rst
  docs/changelog-fragments/538.contrib.rst
  docs/changelog-fragments/540.packaging.rst
  docs/changelog-fragments/541.contrib.rst
  docs/changelog-fragments/541.packaging.rst
Due: changelogs-rst, changelogs-user-role

Move Python 3.12 support to packaging log section
  docs/changelog-fragments/532.packaging.rst
Due: changelogs-rst, changelogs-user-role

🧪🚑 Cap tox in CI below v4.12
  .github/workflows/ci-cd.yml
  .github/workflows/reusable-linters.yml
Due: none

🧪 Drop hardcoded "3.11" from a step name in CI
  .github/workflows/ci-cd.yml
Due: none

🧪 Separate manylinux wheels building workflow
  .github/workflows/ci-cd.yml
  .github/workflows/reusable-build-wheel.yml
Due: none

Add a change note for PR #559
  docs/changelog-fragments/559.contrib.rst
Due: changelogs-rst, changelogs-user-role

Add a change note for PR #560
  docs/changelog-fragments/560.contrib.rst
Due: changelogs-rst, changelogs-user-role

🧪 Separate the testing workflow
  .github/workflows/ci-cd.yml
  .github/workflows/reusable-tests.yml
Due: none

🧪📦 Build macOS wheels with `cibuildwheel`
  .github/workflows/ci-cd.yml
  .github/workflows/reusable-cibuildwheel.yml
  pyproject.toml
Due: none

Add change notes for PR #333
  docs/changelog-fragments/333.contrib.rst
  docs/changelog-fragments/333.packaging.rst
Due: changelogs-rst, changelogs-user-role

Drop Python 3.6/3.7 support
  .github/workflows/ci-cd.yml
  README.rst
  docs/changelog-fragments/532.breaking.rst
  docs/conf.py
  docs/installation_guide.rst
  requirements-build.txt
  setup.cfg
Due: changelogs-user-role

Drop stream8/ubi8 and most of the workarounds
  .github/workflows/ci-cd.yml
Due: none

Stop smoke-testing py36/37 sdist builds
  .github/workflows/ci-cd.yml
Due: none

Drop unnecessary py36/37 build env lockfile pins
  requirements-build.txt
Due: none

Make `setuptools-scm` build dep unconditional
  pyproject.toml
Due: none

Build Linux platform wheels with `cibuildwheel`
  .github/workflows/ci-cd.yml
  pyproject.toml
Due: none

📝 Set towncrier config explicitly @ Sphinx conf
  docs/conf.py
Due: none

📝 Skip showing changelog draft in release docs
  docs/changelog.rst
  docs/conf.py
  tox.ini
Due: changelogs-user-role

Add a change note for commit 852d259
  docs/changelog-fragments/852d259.contrib.rst
Due: changelogs-rst, changelogs-user-role

📝 Clarify change note style guide
  docs/changelog-fragments/README.rst
Due: changelogs-user-role

💅 Switch to single quotes @ Sphinx config
  docs/conf.py
Due: none

debug! root dir
  pyproject.toml
Due: none

🚑 Suppress F821 @ `docs/conf.py`
  docs/conf.py
Due: none

debug! vars
  pyproject.toml
Due: none

debug! cat
  pyproject.toml
Due: none

debug! cflags
  pyproject.toml
Due: none

debug! unxdist pytest @ cibuildwheel
  pyproject.toml
Due: none

Fix release workflow location
  docs/contributing/release_guide.rst
Due: changelogs-user-role

Add changelog
  docs/changelog-fragments/565.contrib.rst
Due: changelogs-rst, changelogs-user-role

fixup! skip 32-bit & musl
  pyproject.toml
Due: none

Fix the workflow location in the release doc
  docs/changelog-fragments/565.contrib.rst
  docs/contributing/release_guide.rst
Due: changelogs-rst, changelogs-user-role

fixup! skip pypy
  pyproject.toml
Due: none

Generate changelog for 1.2.0
  docs/changelog-fragments/333.contrib.rst
  docs/changelog-fragments/333.packaging.rst
  docs/changelog-fragments/461.contrib.rst
  docs/changelog-fragments/473.contrib.rst
  docs/changelog-fragments/474.contrib.rst
  docs/changelog-fragments/474.doc.rst
  docs/changelog-fragments/499.doc.rst
  docs/changelog-fragments/501.packaging.rst
  docs/changelog-fragments/502.packaging.rst
  docs/changelog-fragments/507.contrib.rst
  docs/changelog-fragments/527.feature.rst
  docs/changelog-fragments/532.packaging.rst
  docs/changelog-fragments/533.contrib.rst
  docs/changelog-fragments/538.contrib.rst
  docs/changelog-fragments/539.contrib.rst
  docs/changelog-fragments/540.packaging.rst
  docs/changelog-fragments/541.contrib.rst
  docs/changelog-fragments/541.packaging.rst
  docs/changelog-fragments/559.contrib.rst
  docs/changelog-fragments/560.contrib.rst
  docs/changelog-fragments/565.contrib.rst
  docs/changelog-fragments/852d259.contrib.rst
  docs/changelog.rst
Due: changelogs-rst, changelogs-user-role

Revert "Generate changelog for 1.2.0"
  docs/changelog-fragments/333.contrib.rst
  docs/changelog-fragments/333.packaging.rst
  docs/changelog-fragments/461.contrib.rst
  docs/changelog-fragments/473.contrib.rst
  docs/changelog-fragments/474.contrib.rst
  docs/changelog-fragments/474.doc.rst
  docs/changelog-fragments/499.doc.rst
  docs/changelog-fragments/501.packaging.rst
  docs/changelog-fragments/502.packaging.rst
  docs/changelog-fragments/507.contrib.rst
  docs/changelog-fragments/527.feature.rst
  docs/changelog-fragments/532.packaging.rst
  docs/changelog-fragments/533.contrib.rst
  docs/changelog-fragments/538.contrib.rst
  docs/changelog-fragments/539.contrib.rst
  docs/changelog-fragments/540.packaging.rst
  docs/changelog-fragments/541.contrib.rst
  docs/changelog-fragments/541.packaging.rst
  docs/changelog-fragments/559.contrib.rst
  docs/changelog-fragments/560.contrib.rst
  docs/changelog-fragments/565.contrib.rst
  docs/changelog-fragments/852d259.contrib.rst
  docs/changelog.rst
Due: changelogs-rst, changelogs-user-role
