Repository ansible/pylibssh: changes, and which pre-commit hooks are due for each by the changed paths.
All: changelogs-rst, changelogs-user-role, enforced-flake8-version

changelogs-rst:
  name: changelog filenames
  language: fail
  entry: 'Changelog files must be named ####.(bugfix|feature|deprecation|breaking|doc|misc)(.#)?(.rst)?'

changelogs-user-role:
  name: Changelog files should use a non-broken :user:`name` role
  language: pygrep
  entry: :user:([^`]+`?|`[^`]+[\s,])
  pass_filenames: true

enforced-flake8-version:
  name: Verify that enforced flake8 version stays unchanged
  description: This is a sanity check and fixer that makes sure that the `flake8` version in this file remains matching the corresponding request in the `# enforce-version` comment.
  ...

evaluate and check libssh presence
  .github/workflows/reusable-cibuildwheel.yml
Due: none

Enable python-3.13 for tests
  .github/workflows/ci-cd.yml
Due: none

add a changelog
  docs/changelog-fragments/751.contrib.rst
Due: changelogs-rst, changelogs-user-role

Change check-byte-order-marker to fix-byte-order-marker in pre-commit config
  .pre-commit-config.yaml
Due: enforced-flake8-version

📦 Bump all docs pins
  docs/requirements.txt
Due: none

📦Only enable line tracing when w/Cython tracing
  packaging/pep517_backend/_backend.py
  packaging/pep517_backend/_cython_configuration.py
  packaging/pep517_backend/_transformers.py
  pyproject.toml
Due: none

📝 Add a change note for PR #778
  docs/changelog-fragments/778.packaging.rst
Due: changelogs-rst, changelogs-user-role

Disable profiling to test changes in PR
  .github/workflows/ci-cd.yml
Due: none

Provide changelog-fragment
  docs/changelog-fragments/479.feature.rst
Due: changelogs-user-role

Allow processing of a specific configuration file for the connection
  src/pylibsshext/includes/libssh.pxd
  src/pylibsshext/session.pyx
Due: none

Make the change note style more clear
  docs/changelog-fragments/479.feature.rst
Due: changelogs-user-role

Fix unintended indentation
  docs/changelog-fragments/479.feature.rst
Due: changelogs-user-role

Update packaging/macos/merge-universal2.sh
  packaging/macos/merge-universal2.sh
Due: none

added script to generate universal2 macos artifacst
  packaging/macos/build-libssh-macos.sh
  packaging/macos/merge-universal2.sh
Due: none

Update packaging/macos/build-libssh-macos.sh
  packaging/macos/build-libssh-macos.sh
Due: none

updated build macos script
  packaging/macos/build-libssh-macos.sh
  packaging/macos/merge-universal2.sh
  pyproject.toml
Due: none

fixes scp operation for cisco iosxe
  src/pylibsshext/scp.pyx
Due: none

integrated CI wheel buidld
  .gitignore
  packaging/macos/build-libssh-macos.sh
  packaging/macos/cibuildwheel-before-build.sh
  packaging/macos/config.sh
  pyproject.toml
Due: none

updated cibuildwheel-before-buld.sh script
  .gitignore
  packaging/macos/build-libssh-macos.sh
  packaging/macos/cibuildwheel-before-build.sh
  packaging/pep517_backend/_cython_configuration.py
  pyproject.toml
  wheelhouse/ansible_pylibssh-0.1.dev2094+g51ce2f939.d20260305-cp312-cp312-macosx_10_13_universal2.whl
Due: none

restored pep517_backend which got deleted by mistake
  build_run.log
  packaging/rpm/ansible-pylibssh.spec
  wheelhouse/ansible_pylibssh-0.1.dev2094+g51ce2f939.d20260305-cp312-cp312-macosx_10_13_universal2.whl
  wheelhouse/ansible_pylibssh-0.1.dev2095+gfe80be0ec.d20260305-cp312-cp312-macosx_10_13_universal2.whl
Due: none

removed log file created for debugging purpose
  build_run.log
Due: none

restored rpm folder which got deleted by mistake
  .DS_Store
  packaging/.DS_Store
Due: none

restored ansible-pylibssh.spec which got deleted by mistake
  packaging/.DS_Store
Due: none

Add Python 3.13 and 3.14 wheel builds
  .coveragerc
  .github/workflows/ci-cd.yml
  .github/workflows/reusable-cibuildwheel.yml
  .packit.yml
  docs/changelog-fragments/809.contrib.rst
  docs/changelog-fragments/809.packaging.rst
  docs/conf.py
  packaging/pep517_backend/_backend.py
  packaging/rpm/ansible-pylibssh.spec
  pyproject.toml
  requirements-build.txt
  setup.cfg
Due: changelogs-rst, changelogs-user-role

Document Python 3.13/3.14 source build requirements
  README.rst
  docs/changelog-fragments/813.doc.rst
  docs/installation_guide.rst
Due: changelogs-user-role

Add Agent Skill for AI-assisted contributors
  .github/skills/pylibssh-contributing/SKILL.md
  docs/changelog-fragments/815.contrib.rst
Due: changelogs-rst, changelogs-user-role

Expand contributor guide with PR expectations and process
  .github/CONTRIBUTING.rst
  docs/changelog-fragments/814.contrib.rst
  docs/changelog-fragments/README.rst
Due: changelogs-rst, changelogs-user-role

Set `MACOSX_DEPLOYMENT_TARGET=10.9` for homebrew
  pyproject.toml
Due: none

Force `brew install` to build binary from source
  pyproject.toml
Due: none

fix: align Cython note with actual backend constraint and use -- by convention
  docs/changelog-fragments/813.doc.rst
  docs/installation_guide.rst
Due: changelogs-user-role

fix: use -- by convention in changelog fragment signature
  docs/changelog-fragments/814.contrib.rst
Due: changelogs-rst, changelogs-user-role

fix: correct Cython constraints, coveragerc description, and sign-off convention
  .github/skills/pylibssh-contributing/SKILL.md
  docs/changelog-fragments/815.contrib.rst
Due: changelogs-rst, changelogs-user-role

rebased with devel
  .gitignore
  packaging/rpm/ansible-pylibssh.spec
Due: none

add artifacts to ci/cd
  .github/workflows/ci-cd.yml
  .github/workflows/reusable-tests.yml
Due: none

build OpenSSL+libssh per-arch
  .github/workflows/macos-universal.yml
Due: none

address review comments
  .github/workflows/macos-universal.yml
Due: none

Add unit tests for session, version, logging, and errors modules
  tests/unit/errors_test.py
  tests/unit/logging_test.py
  tests/unit/session_test.py
  tests/unit/version_test.py
Due: none

Revert "Bump redhat-actions/buildah-build from 2.13 to 3"
  .github/workflows/build-manylinux-container-images.yml
Due: none

 DEBUG! crun in CI VMs
  .github/workflows/build-manylinux-container-images.yml
Due: none

Revert "📦 Pre-install system deps @ container image bld"
  build-scripts/manylinux-container-image/Dockerfile
Due: none

Path conditions:
  changelogs-rst: any of: ^docs/changelog-fragments/, but not: (?x) ^
  docs/changelog-fragments/(
    \.gitignore
    |\d+\.(
      bugfix
      |feature
      |deprecation
      |breaking
      |doc
      |misc
    )(\.\d+)?(\.rst)?
    |README\.rst
    |template\.j2
  )
$
  changelogs-user-role: any of: \.rst$
  enforced-flake8-version: any of: ^\.pre-commit-config\.ya?ml$ and \.(yaml|yml)$
